.login-title {
    max-width: 30%;
}

.theme-paper-yellow {
    background-image: linear-gradient(#ffdb4c, #ffcd02);
}

.theme-paper-green {
    background-image: linear-gradient(#87fc70, #0bd318);
}

.theme-paper-blue {
    background-image: linear-gradient(#52edc7, #5ac8fb);
}

.theme-paper-purple {
    background-image: linear-gradient(#ef4db6, #d047ff);
}

.theme-display-paper {
    width: 260px;
    height: 160px;
    margin: 6px;
    padding: 4px;
}

.theme-result-paper {
    width: 260px;
    height: 160px;
    margin: 8px;
    padding: 6px;
}

.paper-effect
{
  position: relative;
}
.paper-effect:before, .paper-effect:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.paper-effect:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

div.toggle-join {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

span.memberCount {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 16px;
}

div.username {
	background: #F7F7F7;
	border: 4px solid #44baec;
	border-radius: 16px;
	color: #111;
	width: 140px;
	padding: 10px 0;
    text-align: center;
    margin: 4px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
}